@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #eee;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "html code"
  "css code"
  "js code";
}

#html {
  grid-area: html;
  padding: 10px;
  font-size: medium;
  resize: none;
}

#css {
  grid-area: css;
  padding: 10px;
  font-size: medium;
  resize: none;
}

#js {
  grid-area: js;
  padding: 10px;
  font-size: medium;
  resize: none;
}

textarea {
  border: none;
  margin: 10px;
}

textarea:focus {
  outline: none;
}

#code {
  grid-area: code;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  resize: horizontal;
}

::-webkit-resizer {
  border: 2px solid black;
  background: red;
  box-shadow: 0 0 5px 5px blue;
  outline: 2px solid yellow;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-areas: 
    "html html"
    "css js"
    "code code";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #code {
    resize: none;
    height: 100%;
  }
}