@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "html code"
  "css code"
  "js code";
  height: 95%;
  grid-template-columns: 1fr 3fr;
  background-color: #121212;
}

textarea {
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

textarea:focus {
  outline: none;
}

#html {
  grid-area: html;
  padding: 10px;
}

#css {
  grid-area: css;
  padding: 10px;
}

#js {
  grid-area: js;
  padding: 10px;
}

#code {
  grid-area: code;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-areas:
    "js css"
    "html html"
    "code code";
    grid-template-columns: 1fr 1fr;
  }
}